@charset 'UTF-8';

img#g{
    width: 100px;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
}
h1#a{
    background-color: dimgray;
    padding: 40px;
    text-align: center;
}